spring:
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    show-sql: true
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect
      

logging:
  level:
    com.dnd.donghaeng: debug
    org.hibernate.type.descriptor.sql: trace  # query parameter(?) 값 추적 설정
