spring:
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379


logging:
  level:
    com.dnd.jjigeojulge: debug
    org.hibernate.type.descriptor.sql: trace  # query parameter(?) 값 추적 설정
