spring:
  application:
    name: Jjigeojulge

  config:
    import: optional:file:.env[.properties]

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:
  level:
    root: info

security:
  jwt:
    secret: ${JWT_SECRET}
    expire: ${JWT_EXPIRATION}

server:
  forward-headers-strategy: framework

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}
