spring:
  application:
    name: Jjigeojulge

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

logging:
  level:
    root: info

security:
  jwt:
    secret: ${JWT_SECRET}
    expire: ${JWT_EXPIRE}
