spring:
  application:
    name: Jjigeojulge

  config:
    import: optional:file:.env[.properties]

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

logging:
  level:
    root: info

security:
  jwt:
    secret: ${JWT_SECRET}
    expire: ${JWT_EXPIRATION}

server:
  forward-headers-strategy: framework

# 운영 환경에서 Swagger 비활성화
#springdoc:
#  swagger-ui:
#    enabled: false
#  api-docs:
#    enabled: false
