name: Backend CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/jjigeojulge-server:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/jjigeojulge-server:latest

            sudo docker stop jjigeojulge-server || true
            sudo docker rm jjigeojulge-server || true

            echo "${{ secrets.ENV_FILE }}" > .env
            
            sudo docker run -d --name jjigeojulge-server \
              --env-file .env \
              -e TZ=Asia/Seoul \
              --log-driver=awslogs \
              --log-opt awslogs-region=ap-northeast-2 \
              --log-opt awslogs-group=/aws/ec2/jjigeojulge-server \
              --log-opt awslogs-create-group=true \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/jjigeojulge-server:latest

            rm .env
            sudo docker image prune -f
